<div class="container__home">
  <h1>{{title}}</h1>
  <span>Do you want to start the course?</span>
  <div>
    <button (click)="toggleCourseStatus(true)">Yes</button>
    <button (click)="toggleCourseStatus(false)">No</button>
  </div>
  <div>
    <span *ngIf="courseStatus">Let's start</span>
    <span *ngIf="courseStatus === false">Ok then...</span>
  </div>
</div>

<table>
  <thead>
    <th>Name</th>
    <tr *ngFor="let user of userService.users; let i = index">
      <td>{{user}}</td>
      <td class="btn btn-edit" (click)="userService.editUser(i,'Rayan')">Edit</td>
      <td class="btn btn-delete" (click)="userService.removeUser(i)">Delete</td>
    </tr>
  </thead>

</table>

<router-outlet></router-outlet>